### Elements selection

In [1]:
import molsysmt as msm

_ColormakerRegistry()

In [2]:
molecular_system = msm.convert('1tcd.mmtf', to_form='molsysmt.MolSys')

In [3]:
molecular_system.composition.dataframe

,atom.index,atom.name,atom.id,atom.type,atom.formal_charge,atom.bonded_atom_indices,group.index,group.name,group.id,group.type,...,chain.id,chain.type,molecule.index,molecule.name,molecule.id,molecule.type,entity.index,entity.name,entity.id,entity.type
0,0,N,1,N,0.0,[1],0,LYS,4,aminoacid,...,A,NaN,0,TRIOSEPHOSPHATE ISOMERASE,0,protein,0,TRIOSEPHOSPHATE ISOMERASE,0,protein
1,1,CA,2,C,0.0,"[0, 2, 4]",0,LYS,4,aminoacid,...,A,NaN,0,TRIOSEPHOSPHATE ISOMERASE,0,protein,0,TRIOSEPHOSPHATE ISOMERASE,0,protein
2,2,C,3,C,0.0,"[1, 3, 9]",0,LYS,4,aminoacid,...,A,NaN,0,TRIOSEPHOSPHATE ISOMERASE,0,protein,0,TRIOSEPHOSPHATE ISOMERASE,0,protein
3,3,O,4,O,0.0,[2],0,LYS,4,aminoacid,...,A,NaN,0,TRIOSEPHOSPHATE ISOMERASE,0,protein,0,TRIOSEPHOSPHATE ISOMERASE,0,protein
4,4,CB,5,C,0.0,"[1, 5]",0,LYS,4,aminoacid,...,A,NaN,0,TRIOSEPHOSPHATE ISOMERASE,0,protein,0,TRIOSEPHOSPHATE ISOMERASE,0,protein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,3978,O,3979,O,0.0,[],657,HOH,339,water,...,D,NaN,161,water,161,water,1,water,1,water
3979,3979,O,3980,O,0.0,[],658,HOH,340,water,...,D,NaN,162,water,162,water,1,water,1,water
3980,3980,O,3981,O,0.0,[],659,HOH,341,water,...,D,NaN,163,water,163,water,1,water,1,water
3981,3981,O,3982,O,0.0,[],660,HOH,342,water,...,D,NaN,164,water,164,water,1,water,1,water
3982,3982,O,3983,O,0.0,[],661,HOH,343,water,...,D,NaN,165,water,165,water,1,water,1,water

In [4]:
print(molecular_system.composition.dataframe.columns)

Index(['atom.index', 'atom.name', 'atom.id', 'atom.type', 'atom.formal_charge',
       'atom.bonded_atom_indices', 'group.index', 'group.name', 'group.id',
       'group.type', 'component.index', 'component.name', 'component.id',
       'component.type', 'chain.index', 'chain.name', 'chain.id', 'chain.type',
       'molecule.index', 'molecule.name', 'molecule.id', 'molecule.type',
       'entity.index', 'entity.name', 'entity.id', 'entity.type'],
      dtype='object')

In [5]:
# Atoms with name C
msm.select(molecular_system, 'atom.name == "C"')

array([   2,   11,   18, ..., 3798, 3803, 3810])

In [6]:
# Atoms with name CA or CB
msm.select(molecular_system, 'atom.name in ["CA","CB"]')

array([   1,    4,   10, ..., 3805, 3809, 3812])

In [7]:
# Atoms of type C or N
msm.select(molecular_system, 'atom.type==["C","N"]')

array([   0,    1,    2, ..., 3814, 3815, 3816])

In [8]:
msm.select(molecular_system, 'atom.type == "C" | atom.type == "N"')

array([   0,    1,    2, ..., 3814, 3815, 3816])

In [9]:
# Heavy atoms
msm.select(molecular_system, 'not atom.type=="H"')

array([   0,    1,    2, ..., 3980, 3981, 3982])

In [10]:
# Atoms of type C not named CA
msm.select(molecular_system, 'atom.type=="C" and not atom.name=="CA"')

array([   2,    4,    5, ..., 3813, 3814, 3815])

In [11]:
# Atoms not named CA, CB or C
msm.select(molecular_system, 'atom.name!=["CA","CB","C"]')

array([   0,    3,    5, ..., 3980, 3981, 3982])

In [12]:
# Atoms with id number lower than 10
msm.select(molecular_system, 'atom.id<10')

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [13]:
# Atoms with id number lower than 10 and higher or equal than 3
msm.select(molecular_system, 'atom.id<10 and atom.id>=3')

array([2, 3, 4, 5, 6, 7, 8])

_________________________

In [ ]:
# Atoms belonging to molecules of type water.
msm.select(molecular_system, 'molecule.type=="water"')

In [ ]:
# Heavy atoms belonging to molecules of type protein.
msm.select(molecular_system, 'molecule.type=="protein" and atom.type!="H"')

In [ ]:
# Atoms belonging to residues named GLY, ALA or VAL in chain named A.
msm.select(molecular_system, 'group.name==["GLY","ALA","VAL"] and chain.name=="A"')

In [ ]:
# Atoms in groups with indices 10, 11 or 12.
indices=[10,11,12]
msm.select(molecular_system, 'group.index==@indices')

In [ ]:
# Atoms named CA, C, O or N in groups with indices 10 to 29.
indices=list(range(10,30))
atoms=["CA", "C", "O", "N"]
msm.select(molecular_system, 'atom.name==@atoms & atom.index==@indices')

_________________________

In [ ]:
# Atoms named C with atom index in range 10 to 29
indices=list(range(10,30))
msm.select(molecular_system, 'atom.name=="C"', mask=indices)

In [ ]:
# Atoms named C with atom index in range 10 to 29
indices=list(range(10,30))
msm.select(molecular_system, 'atom.name=="C" and atom.index in @indices')

__________________

In [ ]:
# Groups with indices equal to 0, 100 or 200
indices=[0,100,200]
msm.select(molecular_system, 'group.index==@indices', target='group')

In [ ]:
# Groups with name "ALA"
msm.select(molecular_system, 'group.name=="ALA"', target='group')

In [ ]:
# Groups of atoms index 34, 44 or 64
msm.select(molecular_system, 'atom.index==[34,44,64]', target='group')

In [ ]:
# Groups belonging to chain named A and molecule of type anything but water
msm.select(molecular_system, 'chain.name=="A" and molecule.type!="water"', target='group')

In [ ]:
# Groups of molecules of type water
msm.select(molecular_system, 'molecule.type=="water"', target='group')

In [ ]:
# Molecules of type water
msm.select(molecular_system, 'molecule.type=="water"', target='molecule')

In [ ]:
# Chains with molecules of type water
msm.select(molecular_system, 'molecule.type=="water"', target='chain')

___________________

In [ ]:
# Atoms with index from 0 to 4 and from 0 to 2
msm.select(molecular_system, 'atom.index in [0,1,2,3,4]', mask=[0,1,2], target='atom')

In [ ]:
# Groups with index from 0 to 4 and from 0 to 2
msm.select(molecular_system, 'group.index in [0,1,2,3,4]', mask=[0,1,2], target='group')

In [ ]:
# Molecules with index from 0 to 4 and from 0 to 2
msm.select(molecular_system, 'molecule.index in [0,1,2,3,4]', mask=[0,1,2], target='molecule')

____________________