In [1]:
%load_ext autoreload
%autoreload 2

# Viewing a molecular system

In [2]:
import molsysmt as m3t
import numpy as np
from simtk.unit import nanometers

_ColormakerRegistry()

In [3]:
molsys = m3t.load('1tcd.mmtf')

In [4]:
molsys.composition.dataframe

,atom.index,atom.name,atom.id,atom.type,group.index,group.name,group.id,group.type,component.index,component.name,...,molecule.id,molecule.type,entity.index,entity.name,entity.id,entity.type,bioassembly.index,bioassembly.name,bioassembly.id,bioassembly.type
0,0,N,1,N,0,LYS,4,aminoacid,0,None,...,None,protein,0,TRIOSEPHOSPHATE ISOMERASE,None,protein,0,1,1,None
1,1,CA,2,C,0,LYS,4,aminoacid,0,None,...,None,protein,0,TRIOSEPHOSPHATE ISOMERASE,None,protein,0,1,1,None
2,2,C,3,C,0,LYS,4,aminoacid,0,None,...,None,protein,0,TRIOSEPHOSPHATE ISOMERASE,None,protein,0,1,1,None
3,3,O,4,O,0,LYS,4,aminoacid,0,None,...,None,protein,0,TRIOSEPHOSPHATE ISOMERASE,None,protein,0,1,1,None
4,4,CB,5,C,0,LYS,4,aminoacid,0,None,...,None,protein,0,TRIOSEPHOSPHATE ISOMERASE,None,protein,0,1,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,3978,O,3979,O,657,HOH,339,water,162,None,...,None,water,1,water,None,water,0,1,1,None
3979,3979,O,3980,O,658,HOH,340,water,163,None,...,None,water,1,water,None,water,0,1,1,None
3980,3980,O,3981,O,659,HOH,341,water,164,None,...,None,water,1,water,None,water,0,1,1,None
3981,3981,O,3982,O,660,HOH,342,water,165,None,...,None,water,1,water,None,water,0,1,1,None
3982,3982,O,3983,O,661,HOH,343,water,166,None,...,None,water,1,water,None,water,0,1,1,None