In [1]:
import molsysmt as msm
import numpy as np

In [ ]:
molsys = msm.convert([msm.demo['nglview']['1u19.gro'], msm.demo['nglview']['1u19.xtc']], to_form='molsysmt.MolSys')

In [2]:
aa = msm.convert(msm.demo['nglview']['1u19.gro'], to_form='molsysmt.Topology')

In [5]:
msm.info(aa, element='molecule')

In [ ]:
bb = msm.convert(aa, to_form='molsysmt.Topology')

In [ ]:
msm.info(aa, element='group')

In [ ]:
msm.info(molsys)

In [ ]:
msm.info(molsys, element='molecule')

In [ ]:
view = msm.convert(molsys, to_form='nglview.NGLWidget')

In [ ]:
msm.info(view)

In [6]:
msm.demo['nglview']['1u19.gro']

'/home/diego/projects/MolSysMT/molsysmt/demo/nglview/1u19.gro'