# Define new chain

In [1]:
import molsysmt as msm

In [2]:
molsys = msm.systems.demo['TcTIM']['1tcd.mmtf']

In [3]:
molsys = msm.convert(molsys)

In [4]:
msm.get(molsys, element='atom', chain_id=True)

array(['A', 'A', 'A', ..., 'D', 'D', 'D'], dtype=object)

In [5]:
msm.build.define_new_chain(molsys, selection='all', id='X')

In [6]:
msm.get(molsys, element='atom', chain_id=True)

array(['X', 'X', 'X', ..., 'X', 'X', 'X'], dtype=object)

In [7]:
msm.info(molsys, element='chain')